.movie-info-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.info {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 10px;
  padding: 24px 24px;
}

.more__info {
  margin-left: 32px;
}

.movie__img {
  height: 407px; /* Adjust size as needed */
  width: 275px;
}

.movie-info__backbtn {
  cursor: pointer;
}

@media (max-width: 813px) {
  .movie-info-container {
    display: flex;
    flex-direction: column; /* Stack title/image and descriptions vertically */
    align-items: center; /* Center the elements */
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
}